.thumbnail-hover {
	position: relative;

	.thumbnail-content-prt {
		display: none;
		position: absolute;
		margin: auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		.thumbnail-content{
			display: table-cell;
			vertical-align: middle;
		}
	}
	&:hover .thumbnail-content-prt {
		display: table;
	}
}

.thumbnail {
	background: $theme3;
	&:hover {
		background: darken($theme3, 50%);
		}
	}

.center-block {
	background: $theme3;
	padding: $center-block-padding;
	border-radius: $center-block-border-radius;
	font-weight: $thumbnail-link-font-weight;

}
